@use "../../assets/sass/" as *;

.section {
  padding: 20rem 5rem;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  border: $border;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;

  img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }

  p {
    font-size: 2rem;
  }

  button {
    border: $border;
    padding: 2rem;
    width: 50%;
  }
}
