.section {
  padding: 15rem 0;

  text-align: center;

  h2 {
    margin-bottom: 4rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 8rem;
}
