@use "../../../assets/sass/" as *;

.section {
  display: flex;
  justify-content: center;
}

.container {
  padding: 5rem;
  text-align: center;
  overflow: hidden;

  &:not(:last-child) {
    border-right: 1px solid $color-black;
  }

  padding-bottom: 22rem;

  .storyContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    gap: 5rem;
    .info {
      display: grid;
      justify-items: center;
      padding: 0 12rem;

      gap: 2rem;

      button {
        font-size: 1.4rem;
        background-color: $color-black;
        color: #fff;
        transition: all 0.4s;
        border: 1px solid $color-black;

        &:hover {
          background-color: #fff;
          color: $color-black;
          border: 1px solid $color-black;
        }
      }
    }

    .img {
      padding: 0 15rem;
    }
  }
}
